<div class="col-md-12">
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">todo tags</strong>
      <h3 class="mb-0">{{article.title}}</h3>
      <div class="mb-1 text-muted">{{article.creationDate}}</div>
      <p class="card-text mb-auto">{{article.content}}</p>
      <a href="#" class="stretched-link">Continue reading</a>
    </div>
  </div>
</div>
